@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Arimo', sans-serif !default;
$base-font-size:   10px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:      #ffffff ; //rgb(211, 208, 200) !default;
$background-color: #2E2E2E !default;
$overlay-color: rgba(46,46,46,0.3) !default;
$brand-color: rgb(255, 0, 128) !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$max-content-width:    1280px !default;

$mobile:          600px !default;
$desktop:        800px !default;

// Use media queries like this:
// @include media-query($mobile) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "miauhaus/base",
  "miauhaus/footer",
  "miauhaus/header",
  "miauhaus/layout",
  "miauhaus/page",
  "miauhaus/content",
  "miauhaus/courses",
  "miauhaus/research",
  "miauhaus/post"
;
