p {
  font-size: 1.2rem;
  @include media-query($desktop) {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  @include media-query($desktop) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 1.75rem;
  @include media-query($desktop) {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.375rem;
  @include media-query($desktop) {
    font-size: 1.625rem;
  }
}

h4 {
  font-size: 1.125rem;
  @include media-query($desktop) {
    font-size: 1.25rem;
  }
}

img {
  margin: $spacing-unit auto;
  display: block;
}

li {
  font-size: 1.2rem;
  line-height: 1.6rem;
  @include media-query($desktop) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.thumbnails {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  li {
    margin: $spacing-unit;
  }
}

.vertical-thumbnails {
  position: relative;
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  li {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    padding-top: 10%;
    overflow: hidden;
    img {
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: -1;
    }

    span {
      // background-color: rgba(#ffffff, 0.5);
      position: absolute;
      bottom: -9px;
      font-size: 1.5rem;
      @include media-query($desktop) {
        bottom: $spacing-unit/4;
        font-size: 2rem;
      }
      margin: $spacing-unit/2;
      // color:white;
      font-weight: bold;
      // padding: 2px 5px;
      // border-radius: 2px;
      text-shadow: 2px 2px 2px $background-color;
    }
  }
}

.section {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $text-color;
  line-height: 45px;
  margin-top: $spacing-unit/2;
}

.section-header {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $text-color;
  line-height: 45px;
}

.two-col {
  @include media-query($desktop) {
    column-count: 2;
  }
}

.filter {
  filter: invert(1); //invert(0.8) sepia(0.2);
}

.centered {
  text-align: center;
}

blockquote {
  color: $text-color;
  font-style: italic;
  text-align: center;
  margin: $spacing-unit;
  @include media-query($desktop) {
    margin: $spacing-unit*3 $spacing-unit*10;
  }
  p {
    font-size: 2rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}

.side-img {
  display: inline-block;
}

.side-txt {
  display: inline-block;
}

.float-left {
  @include media-query($mobile) {
    float: left;
    margin-right: $spacing-unit*2;
  }
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 61%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
