p {
  font-size: 1.2rem;
  @include media-query($desktop) {
    font-size: 1.6rem;
  }
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  @include media-query($desktop) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 1.75rem;
  @include media-query($desktop) {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.375rem;
  @include media-query($desktop) {
    font-size: 1.625rem;
  }
}

h4 {
  font-size: 1.125rem;
  @include media-query($desktop) {
    font-size: 1.25rem;
  }
}

img {
  margin: $spacing-unit auto;
  display: block;
}

.thumbnails {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  li {
    margin: $spacing-unit;
  }
}

.vertical-thumbnails {
  position: relative;
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  li {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    img {
      margin: 0;
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: -1;
    }

    span {
      // background-color: rgba(#ffffff, 0.5);
      position: absolute;
      bottom: $spacing-unit/4;
      margin: $spacing-unit/2;
      // color:white;
      font-size: 2rem;
      font-weight: bold;
      // padding: 2px 5px;
      // border-radius: 2px;
      text-shadow: 2px 2px 2px $background-color;
    }
  }
}

.section {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $text-color;
  line-height: 45px;
  margin-top: $spacing-unit/2;
}

.section-header {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $text-color;
  line-height: 45px;
}

.filter {
  filter: invert(0.8) sepia(0.2);
}

.centered {
  text-align: center;
}

li {
  font-size: 1.2rem;
  @include media-query($desktop) {
    font-size: 1.6rem;
  }
  margin: 10px;
}
