.course {
  .logo {
    width: 205px;
    margin: $spacing-unit*4 auto;
  }
  .section {
    position: relative;
    border: none;
    height: 305px;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: -1;
    }
    span {
      color: $background-color;
      margin: $spacing-unit/2;
    }
  }
}