.site-footer {
  padding: $spacing-unit 0;
  background-color: $grey-color-dark;

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }

  .svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
  }

  .social-media-list {
    li + li {
      padding-top: 5px;
    }
  }
}
