html {
  font-size: $base-font-size;
}
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 1.6rem;
}

h4 {
  font-size: 3.4rem;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: $text-color;
  line-height: 45px;
}

.thumbnails {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:0;
  li {
    margin: $spacing-unit;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$max-content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$max-content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($desktop) {
    max-width: -webkit-calc(#{$max-content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$max-content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}